body {
    margin: 0;
    padding: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: none;
}

p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Noto Serif Khitan Small Script", Sans-Serif;
    margin-bottom: 0;
    text-shadow: 2px 2px 1px rgb(159,0,237);
}

nav {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(13px);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 47px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: rgb(255, 86, 255);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "IBM Plex Sans", Sans-Serif;
}

.button {
    display: flex;
    flex-direction: column;
}

.button a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-decoration: none;
    color: rgb(255, 86, 255);
    background: #222;
    padding: 20px;
    margin-right: 2rem;
    margin-left: 2rem;
    border-radius: 1rem;
    font-size: 43px;
    box-shadow: 0 0 5px 0.3rem purple;
    font-family: "Pixelify Sans", Sans-Serif;
}
